@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
/* declarção de variáveis */
:root{
    --marrom:#725C5C;
    --laranja:#ED7839;
    --laranja_claro: #FDF1EB;
    --amarelo: #FFB354;
    --branco: #FFFFFF;
    --cinza:#E7E7E7;
    --vermelho:#F85959;
    --cinza_escuro:#4E4E4E;
}
/* estilização padrão */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}
h4{
    font-family: 'Quicksand', sans-serif;
    color: var(--marrom);
}
h5{
    color: var(--cinza_escuro) ;
    font-size: 1.2rem;
    font-family: 'Roboto';
    font-weight:500 ;
}
h6{
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 0.8rem;
}
button{
    cursor: pointer;
}
main{
    /* width: 159px; */
}
header{
    width: 1146px;
    display: flex;
    background-color: var(--laranja_claro);
    justify-content: space-between;
    padding:0 2.2rem ;
    
}
footer{
    margin-top: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
 

/* estilizações da página */

/* estilização do sidebar */
.container{
    display: flex;
    justify-content: center;
}
.sidebar{
    width: 220px;
    border: var(--cinza) solid 1px;
    box-shadow: 0 0 1em var(--cinza);
}
.sidebar img{
    width: 100%;
}
#title-box{
    display: flex;
    text-align: center;
    padding: 0.6rem;
    background-image: linear-gradient(to bottom,#FFB354,#ED7839);
    height: 4.2rem;
}
#title-box h2{
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    align-self: center;
}
.sidebar h4{
    border: var(--cinza) solid 1px;
    height: 35px;
    padding: 0.2rem;
    width: 100%;
}

.sidebar-item-menu h4{
    padding: 0.5rem 1.4rem 0.5rem ;
}
.sidebar-item-menu:hover{
    background-color: var(--laranja_claro);
    border-left: var(--laranja) solid 5px;
}
/* estilização do header */
.title-header{
    color: var(--marrom);
    font-family: 'Roboto', sans-serif; 
}
.title-header p{
    display: block;
    font-size: 1.3rem;
}
.info{
    font-size: 0.8rem;
}
#button-language{
    background-color: var(--laranja_claro);
    border: var(--cinza) solid 1px;
    border-radius: 3px;
    width: 97px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem 0.5rem;
    margin-top: 1.0rem;
}
.login-area{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.login-area p{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 14px;
}
.login-area img{
    margin-left: 0.4rem;
}
.user-info {
    margin-right: 55px;
    display: flex;
    flex-direction: column;

}
.user-info p{
    align-self: flex-end;
}
#email{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 12px;
}
.profile-notification{
    position: absolute;
    right: 0.68rem;
    width: 2.8rem;
    z-index: 1;
}
#notification{
    position: absolute;
    right: 9px;
    background-color: var(--vermelho);
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 12px;
    float:right;
    z-index: 2;
}
#notification p{
    font-size: 0.5rem;
    color: var(--branco);
    text-align: center; 
    font-family: 'Roboto';
    font-weight: 700;
}
/* título e menu de download - estilização */
.content-video{
    display: flex;
    justify-content: space-between;
    padding:1.2rem 2.2rem ;
    align-items: baseline;
    height: 7.4rem;
}
.content-video p{
    padding-top: 2%;
    font-family: 'Roboto';
    color:var(--laranja);
    font-weight:900;
    font-size: 1.3rem;
}
.menu-video-area{
    display: flex;
    flex-direction:column;;
}
.menu-video{
    display: flex;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    width: 14.9rem;
}
.menu-video button{
    background-color: var(--laranja);
    border: var(--laranja);
    border-radius: 0.25rem;
    color: var(--branco);
}
#download{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 1.9rem;
}
.icone{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    height: 1.9rem;
}
#question-info p{
    font-size: 0.9rem;
    font-family: 'Roboto';
    font-weight:500;
    padding: 0.7rem 0.9rem; 
}
/* Conteúdo principal vídeo */
.section-video-info{
    padding:1.2rem 2.2rem ;
    display: flex;
    justify-content: space-between;
    
}
#image-video{
    position: absolute;
    z-index: 1;
}
.background-video{
    position: absolute;
    width: 784px;
    height: 439px;
    background-color:rgb(255, 77, 0);
    cursor: pointer;
    opacity:0.3;
    z-index: 2;
}
.info-video{
    
}
.info-background-video{
    position: absolute;
    z-index: 3;
    padding-left: 1.5rem;
    padding-top: 1.9rem;
}
.info-background-video p{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--branco);
}

#profile-author-video{
    margin-top: 30%;
    display: flex;
    align-items:center;
}
#profile-author-video img{
    border: var(--laranja) solid 1px;
    border-radius: 50%;
}
#universitie-profile{
    font-size: 1.2rem;
}
/*   sidebar de informações */
#details{
    border: var(--cinza) solid 2px;
    width: 15.1rem;
    height: 27.4rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
}
.title-details{
    border-bottom: var(--cinza) solid 2px;
    background-color: var(--laranja_claro);
    height: 2.8rem;
    padding-left: 5px;
    padding-top: 9px;
}
#details p{
    padding-top: 0.9rem;
    font-family: 'Quicksand';
}
#type-presentation{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--cinza_escuro);
    padding-left: 5px
}
#authors{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--cinza_escuro);
    padding-left: 5px
}
#universities{
       font-size: 0.7rem;
       padding-left: 5px
}
/* estilização do resumo */
#resume{
    border: var(--cinza) solid 2px;
    border-radius: 0.3rem;
    width: 66.1rem;
    margin-left:2.2rem ;
    margin-bottom: 1.8rem;
}
.title-resume{
    width: 65.8rem;
    height: 2.8rem;
    background-color: var(--laranja_claro);
    border-bottom: var(--cinza) solid 2px;
    border-radius: 0.3rem;
}
#show-more{
    background-color: var(--branco);
    color: var(--laranja);
    border: none;
    font-family: 'Quicksand';
    font-weight:900;
    font-size: 0.8rem;
}
#more-text{
    display: none;
}
/* campo de discussão - interação do usuário */
#discussion-users{
    display: flex;
    flex-direction: column;
    width: 66.1rem;
    min-height: 35.8rem;
    border: var(--cinza) solid 2px;
    padding-bottom: 0.5rem;
    align-items: center;
    margin-left: 2.2rem;
}
#create-comment{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
    align-items: center;
}
#area-topics{
    border-bottom: var(--cinza) solid 1px;
    
}
#title{
    color: var(--laranja);
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 1.1rem ;
    padding: 0.5rem 0;
}
.icons-ilustration{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    width: 15.6rem;
}
#area-topics h6{
    padding: 1rem 0;
}
#create-topics{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: -0.8rem auto;
    width: 8.3rem;
    height: 2rem;
    background-image: linear-gradient(to bottom,#FFB354,#ED7839);;
    color: var(--branco);
    border: none;
    font-family: 'Quicksand';
    font-weight: 700;
    border-radius: 0.25rem;
    }
/* input do usuário ao criar tópico */
#input-user{
    display: none;
    padding-top: 1rem;
}
#input-user span{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand';
    font-weight: 400;
    color: var(--cinza_escuro);
}
#input-user p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: var(--laranja);
}
#input-user input{
    width: 64.09rem;
    border: var(--cinza) solid 0.063rem;
    border-radius: 0.188rem;
    padding: 9PX;
}
#subject{
    height: 2.438rem;
}
#subject:focus{
    box-shadow: 0 0 0 0;
    border: var(--cinza) solid 1px ;
    outline: 0; 
}
#topic-content{
    height: 5.125rem;
}
#topic-content:focus{
    box-shadow: 0 0 0 0;
    border: var(--cinza) solid 1px ;
    outline: 0;
}
#comment-user-tools{
    height: 1.938rem;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}
#comment-user-tools dir{
    display: flex;
    justify-content: baseline;
}
.buttons-tools{
    padding-left: 0.9rem;
    background-color:#f8f8f8;
    border: none;
}
.buttons-tools:hover{
    background-color: rgb(255, 231, 187);
}
#enter{
    background-color: var(--laranja);
    color: var(--branco);
    width: 12.813rem;
    border: none;
}
#enter:hover{
    background-color: #fe9a64;
}
/* confirmação de envio de comentário */
#shipping-confirmation{
    margin: 10px;
    border: var(--cinza) solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64.2rem;
    height: 9.2rem;
    display: none;
}
#shipping-confirmation span{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--laranja);
    margin-top: 1rem;
}
#shipping-confirmation p{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--cinza_escuro);
    margin-top: 1rem;
}
#shipping-confirmation a{
    display: flex;
    justify-content: center;
    color: var(--laranja);
    font-family: 'Quicksand';
    font-size:0.875rem;
    font-weight: 500;
    text-decoration: underline;
}
#shipping-confirmation button{
    width: 15rem;
    height: 2rem;
    background-image: linear-gradient(to bottom,#FFB354,#ED7839);;
    color: var(--branco);
    border: none;
    font-family: 'Quicksand';
    font-weight: 700;
    border-radius: 0.25rem;
    margin-top: 2.375rem;
    margin-left: 24.125rem;
    
}
/* comentários */
.comments-box{
    margin: 0.75rem 0.75rem 0 0.75rem;
}
.comments{
    padding-left: 1.2rem;
    padding-top: 0.9rem;
    margin: 0.5rem;
    border: var(--cinza) solid 2px;
    box-shadow: 0 0 1em var(--cinza);
    width: 64.2rem;
    /* height: 9.2rem; */
}
#new-comment{
    position: absolute;
    z-index: 1;
}
#content-blur-wrapper{
    display: none;
    position: relative;
    left:0;
}
.background-content{
    top: 25%;
    left: 38%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.background-content img{
    height: 1.451rem;
}
.background-content p{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 1rem;
    color: var(--cinza_escuro);
}
.background-content a{
    align-self: center;
    font-family: 'Quicksand';
    font-weight: 400;
    color: var(--laranja);
    text-decoration: underline;
}
#background-div-comment{
    width: 1025px;
    height: 136px;
    margin-left: 8px;
    filter: blur(2px);
    background-color: rgb(231, 230, 230);
    opacity: 0.7;
}

#background-div-content{
    position: absolute;
    z-index: 2;
}
#new-coment p{
    z-index: 3;
}

.comments:last-child{
    margin-bottom:0;
}
.comments p{
    font-size: 1rem;
    color: var(--laranja);
    font-family: 'Quicksand';
    font-weight: 700;
}
.comments h4{
    font-size: 0.8rem;

}
.comments section{
    padding-top: 0.9rem;
    color: var(--cinza_escuro);
    font-family: 'Quicksand';
    font-size: 0.8rem;
    font-weight: 400;
}
.comment-options{
    width: 10.3rem;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}
.comment-options button{
    background: none;
    border: none;
}
.user-tools{
    color: var(--cinza_escuro);
    font-family: 'Segoe UI';
}
.user-tools:hover{
    color: #ED7839;
}
/* seção de respostas */
#answers{
    /* margin-left: 1.25rem; */
    display: none;
    margin: 0 auto;
}
#answers li{
    list-style: none;
}
.answer-comment{
   background-color: #f8f8f8;
   width: 64.2rem;
   height: 9.2rem;
   border: rgb(232, 230, 230) solid 1px;
   width: 64.2rem;
   height: 9.2rem;
   padding: 1.2rem;
}
.answer-comment p{
    padding-bottom: 0.9rem;
    color: var(--cinza_escuro);
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 0.7rem;
}
.answer-comment span{
    color: var(--cinza_escuro);
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 0.8rem;
}
#user-blog{
    background-color: var(--branco);
}
.header-answer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}